<%- include('../includes/head.ejs') %>

<div class="container">
    <div class="section has-text-centered">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical is-4">
                <div class="tile is-child box">
                    <p class="title is-5 is-centered">Tickets pendientes</p>
                    <div class="table-container">
                        <table class="table is-hoverable has-text-centered is-fullwidth">
                            <thead>
                                <tr>
                                    <th class="has-text-centered">Id</th>
                                    <th class="has-text-centered">Tiempo abierto</th>
                                    <th class="has-text-centered">Trabajador</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let ticket of tickets_abiertos) {%>
                                    <tr>
                                        <td><a href="/incidencias/<%= ticket.idticket %>"><button class="button is-small is-info" style="width: 60px;"><%= ticket.idticket %></button></a></td>
                                        <td><%= ticket.fechainicio %></td>
                                        <td><%= ticket.usuarioTrabajador %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
            <div class="tile is-parent is-vertical is-4">
                <div class="tile is-child box">
                    <p class="title is-5 is-centered">Clientes pendientes de pago</p>
                    <div class="table-container">
                        <table class="table is-hoverable has-text-centered is-fullwidth">
                            <thead>
                                <tr>
                                    <th class="has-text-centered">Cliente</th>
                                    <th class="has-text-centered">Saldo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let d of deudores) {%>
                                    <tr>
                                        <td><%= d.usuarioCliente %></td>
                                        <td><%= d.deuda %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tile is-child box">
                    <p class="title is-5 is-centered">Tiempo promedio en cerrar ticket</p>
                    <div class="tabs">
                        <ul>
                            <li class="tab is-active" onclick="openTab(event,'general')" id="g"><a>General</a></li>
                            <li class="tab" onclick="openTab(event,'falla')" id="f"><a>Por falla</a></li>
                            <li class="tab" onclick="openTab(event,'trabajador')" id="t"><a>Por trabajador</a></li>
                        </ul>
                    </div>
                    <div class="content-tab" id="general">
                        <p class="title is-2"><%= promedio.promedio %></p>
                    </div>
                    <div class="content-tab" id="falla" style="display:none">
                        <div class="table-container">
                            <table class="table is-hoverable has-text-centered is-fullwidth">
                                <thead>
                                    <tr>
                                        <th class="has-text-centered">Falla</th>
                                        <th class="has-text-centered">Tiempo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let falla of tcf) {%>
                                        <tr>
                                            <td><%= falla.falla %></td>
                                            <td><%= falla.tiempoabierto %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="content-tab" id="trabajador" style="display:none">
                        <div class="table-container">
                            <table class="table is-hoverable has-text-centered is-fullwidth">
                                <thead>
                                    <tr>
                                        <th class="has-text-centered">Empleado</th>
                                        <th class="has-text-centered">Tiempo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let falla of tce) {%>
                                        <tr>
                                            <td><%= falla.usuario %></td>
                                            <td><%= falla.tiempoabierto %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-parent is-vertical is-4">
                <div class="tile is-child box">
                    <p class="title is-5 is-centered">Porcentaje de tickets cobrados</p>
                    <div id="chart">
                    </div>
                </div>
                <div class="tile is-child box">
                    <p class="title is-5 is-centered">Tipo de falla comunes</p>
                    <div id="chart2">
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor is-hidden">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <p class="title is-5 is-centered">Histograma de tickets cerrados</p>
                    <div id="chart3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/quarterOfYear.js"></script>
<script src="/scripts/control.js"></script>
<script>
    function openTab(evt, tabName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("content-tab");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" is-active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " is-active";
    }
</script>
<%- include('../includes/foot.ejs') %>