<%- include('../includes/head.ejs') %>
<div class="box">
    <p class="is-size-3 has-text-centered pt-0 mt-0 pb-3">Editar Cliente</p>
    <form action="/clientes/edit/<%= cliente.usuario %>" method="post">
        <fieldset disabled="disabled">
            <label class="label">Usuario</label>
            <p class="control has-icons-left">
                <input value="<%= cliente.usuario %>" name="usuario" class="input" type="text">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </fieldset>
        <br>
        <fieldset disabled="disabled">
            <label class="label">Contraseña</label>
            <p class="control has-icons-left">
                <input value="**********" name="contraseña" class="input" type="password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </fieldset>
        <br>
        <div class="field">
            <label class="label">RFC</label>
            <p class="control has-icons-left">
                <input value="<%= cliente.rfc %>" name="rfc" class="input" type="text" placeholder="HEPR89100224A" minlength="12" maxlength="13"
                    required>
                <span class="icon is-small is-left">
                    <i class="fas fa-building-columns"></i>
                </span>
            </p>
        </div>
        <br>
        <div class="field">
            <label class="label">Razón social</label>
            <p class="control has-icons-left">
                <input value="<%= cliente.razonsocial %>" name="razonsocial" class="input" type="text" placeholder="Rogelio Hernández Peréz" maxlength="50"
                    required>
                <span class="icon is-small is-left">
                    <i class="fas fa-building-columns"></i>
                </span>
            </p>
        </div>
        <br>
        <div class="field">
            <label class="label">Teléfono</label>
            <p class="control has-icons-left">
                <input value="<%= cliente.telefono %>" name="telefono" class="input" type="tel" placeholder="+524611625938"
                    maxlength="14">
                <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                </span>
                <p class="help is-success">
                    Lada en México +52
                </p>       
            </p>
        </div>
        <br>
        <div class="field is-grouped-centered has-text-centered">
            <div class="control">
                <input type="submit" class="button is-info" id="enviar" name="enviar" value="Registrar">
            </div>
        </div>
    </form>
</div>
</div>
<%- include('../includes/foot.ejs') %>